<p (click)="showLeetcode()" class="cursor-pointer mt-3 flex items-center p-2 
   hover:bg-slate-100 dark:hover:bg-slate-800 w-full"
    style="cursor: pointer;  display: inline-flex; align-items: center;">
    <i class="pi pi-code" style="margin-right: 5px;"></i>
    @if(this.leetcode?.leetcodeProfile ){
    {{this.leetcode?.leetcodeProfile }}
    <img width="21px" height="21px" src="./verified.png" alt="">
    }@else{
    LeetCode
    }
</p>

<p-dialog header="Leetcode 🤝 DSA" [modal]="true" [(visible)]="visibleLeetCode"
    [style]="{ width: '88vw', maxWidth: '800px' }">

    <div class="h-[3vh]"></div>
    @if(showProfileDiv){
    <ng-container *ngIf="!loading; else skeletonTemplate">
        <div class="flex flex-wrap justify-center items-center gap-8 fade-in-quick">
            <div pAnimateOnScroll enterClass="animate-enter fade-in-10 slide-in-from-t-20 animate-duration-1000"
                leaveClass="animate-leave fade-out-0"
                class="flex flex-col border border-primary-200 shadow-lg justify-center items-center max-w-[80vw] rounded-2xl p-8 gap-4">
                <p-avatar [image]="profile?.avatar" shape="circle" size="xlarge"></p-avatar>
                <span class="text-2xl font-medium">{{ profile?.name }}</span>
                <span class="text-muted-color text-center"> <i class="pi pi-crown" style="color: green"></i> Rank: {{
                    profile?.ranking|number }}</span>
                <span class="text-muted-color text-center">{{ profile?.about }}</span>
                <span class=" text-green-400">Target Submission</span>
                <input type="text" pInputText [pAutoFocus]="true" [(ngModel)]="progress" class="w-full mb-4" />
                <p-slider [(ngModel)]="progress" class="w-full" [max]="20" />
                <div class="flex items-center gap-2">
                    <p-button icon="pi pi-times" label="no, it's not me" severity="secondary"
                        (click)="resetLeetCode()"></p-button>
                    <p-button [disabled]="isUpdatingLeetCodeProfile"
                        [label]="isUpdatingLeetCodeProfile ? 'updating' : 'Yes, it\'s me'"
                        [icon]="isUpdatingLeetCodeProfile ? 'pi pi-spin pi-spinner' : 'pi pi-check'" severity="success"
                        (click)="updateLeetCodeProfile()"></p-button>
                </div>
            </div>
        </div>
    </ng-container>
    }
    @else{
    <div class="flex items-center gap-4 mb-4">
        <label for="username" class="font-semibold w-24">Username</label>
        <input pInputText [pAutoFocus]="true" (keyup.enter)="showLeetcodeProfile()" [(ngModel)]="leetcodeUserName"
            id="username" class="flex-auto" autocomplete="off" />
    </div>
    <div class="h-[3vh]"></div>
    <div class="flex justify-end gap-2">
        <p-button label="Cancel" severity="secondary" (click)="visibleLeetCode = false" />
        <p-button label="Search" (click)="showLeetcodeProfile()" />
    </div>
    }
    <ng-template #skeletonTemplate>
        <div class="flex flex-wrap justify-center items-center gap-8 fade-in-quick">
            <div
                class="flex flex-col border border-surface-200 shadow-md justify-center items-center max-w-80 rounded-2xl p-8 gap-4 min-w-[20vw] min-h-[45vh]">
                <p-skeleton shape="circle" size="4rem"></p-skeleton>
                <p-skeleton [style.width]="'60%'" [style.height]="'1.5rem'" styleClass="border-round"></p-skeleton>
                <p-skeleton [style.width]="'80%'" [style.height]="'1.2rem'" styleClass="border-round"></p-skeleton>


                <div class="flex items-center gap-2">
                    <p-skeleton width="5rem" height="2rem"></p-skeleton>
                    <p-skeleton width="5rem" height="2rem"></p-skeleton>
                </div>
            </div>
        </div>
    </ng-template>


</p-dialog>
<p-toast></p-toast>